.index-form {
  background: url("../img/background/bottom_back_desktop.jpg") no-repeat;
  background-size: 68%;
  min-height: 455px;
  width: 100%;
  margin-bottom: 170px;
  margin-left: 10px;
  position: relative;
}

@media (min-resolution: @retina) {
  .index-form {
    background: url("../img/background/bottom_back_desktopx2.jpg") no-repeat;
    background-size: 73%;
  }
}

.index-form__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 47%;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
  margin-left: auto;
  margin-top: 70px;
  padding: 50px;

  h3 {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #141517;
  }

  label {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #141517;
    margin: 0;
    position: relative;
    cursor: pointer;
    z-index: 3;
  }

  input[type="tel"],
  input[type="text"] {
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(44, 46, 63, 0.3);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #141517;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  input[type="submit"] {
    margin: 0 auto;
    border: none;
    width: 175px;
    min-height: 50px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  input.index-form__required {
    padding-left: 50px;
  }

  input.index-form__error {
    border: 1px solid #FE7865;
  }
}

.index-form__container-tel,
.index-form__container-mail {
  width: 47%;
  position: relative;
}

.index-form__mark::before {
  content: "*";
  color: #FE7865;
  font-size: 17px;
  position: absolute;
  left: 12px;
  bottom: -52px;
}

.index-form__mark::after {
  content: "+7";
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
  position: absolute;
  left: 22px;
  bottom: -58px;
}

.index-form__wrapper input::placeholder {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
}

.index-form__wrapper input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.index-form__success {
  position: fixed;
  margin: 0 auto;
  top: 10px;
  left: 50%;
  height: 30%;
  width: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.5);
  background-color: #FBF8F8;
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  text-align: center;
  color: #48494D;
  padding: 100px 165px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.index-form__success-button {
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: inherit;
  top: 20px;
  right: 20px;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1.5px;
    background-color: rgba(20, 21, 23, 0.2);
    transform: rotate(45deg);
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1.5px;
    background-color: rgba(20, 21, 23, 0.2);
    transform: rotate(-45deg);
    left: 0;
  }
}

@media (max-width: @mid-size) {
  .index-form {
    background: url("../img/background/bottom_back.jpg") no-repeat;
    background-size: 100%;
    margin-left: 0;
    margin-bottom: 80px;
  }

  @media (min-resolution: @retina) {
    .index-form {
      background: url("../img/background/bottom_backx2.jpg") no-repeat;
      background-size: 100%;
    }
  }

  .index-form__wrapper {
    margin-right: auto;
    width: 85.7%;
    box-sizing: border-box;

    input[type="tel"],
    input[type="text"] {
      margin-bottom: 20px;
    }

    input[type="submit"] {
      width: 250px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
    }
  }

  .index-form__container-tel,
  .index-form__container-mail {
    width: 48%;
  }
}

@media (max-width: @min-size) {
  .index-form {
    background-image: none;
    margin-bottom: 55px;
  }

  .index-form__wrapper {
    background-color: #FBF8F8;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
    padding: 45px 16px;

    h3 {
      margin-bottom: 20px;
    }

    input[type="tel"],
    input[type="text"] {
      display: block;
      width: 100%;
      margin-top: 20px;
    }

    input[type="tel"] {
      margin-bottom: 0;
    }

    input[type="submit"] {
      width: 288px;
      margin: 0 auto;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 2px;
    }
  }

  .index-form__container-tel,
  .index-form__container-mail {
    width: 100%;
  }

  .index-form__mark::before {
    bottom: -48px;
  }

  .index-form__mark::after {
    bottom: -53px;
  }

  .index-form__success {
    box-sizing: border-box;
    width: 300px;
    height: 50%;
    padding: 50px 20px;
  }
}
